.flex-header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  .nav {
    .nav-link {
      font-weight: 700;
      line-height: 24px;
      color: $primary;
      overflow: hidden;
      position: relative;
      padding: 18px 0;

      &.active {
        color: $secondary !important;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          height: 8px;
          width: 100%;
          bottom: -5px;
          border-radius: 15px;
          background-color: $secondary;
        }
      }
    }
  }
  .logo {
    img {
      height: 100% !important;
    }
  }
}
.flex-header .nav .nav-link {
  @include for-phone {
    font-size: 10px;
  }
}
