@font-face {
  font-family: 'Poppins';
  src: url('./library/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Kufi';
  src: url('./library/fonts/kufi/NotoKufiArabic-Regular.ttf');
}

@font-face {
  font-family: 'Cairo';
  src: url('./library/fonts/cairo/Cairo-Regular.ttf');
}

@font-face {
  font-family: 'Almarai';
  src: url('./library/fonts/almarai/Almarai-Regular.ttf');
}
@font-face {
  font-family: 'Muli';
  src: url('./library/fonts/muli/Muli.ttf');
}
